{{!-- layouts/base.handlebars --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        CryptoSim - The Crypto Currency Simulator
    </title>
   {{>includes/css}}
    </head>

    <body>

      {{{body}}}
     

      <footer>
          {{> includes/footer }}
      </footer>
      
      {{> includes/scripts }}
      
    </body>

</html>