body{
    margin:0;
    padding:0;
    font-weight: 500px;
}


.section {
    padding: 25px;
}


.section-content {
    padding: 75px;
}


/* Hero Section styles
/* ---------------------------------------------- */

.content-4180 {
    position: relative;
    background: linear-gradient(-45deg, #58a5f0,#004c8c)
}

.content-4180::before {
    position: absolute;
    height: 100vh;
    width: 100vw;
    content: "";
    background: url('../images/lines_bg3.svg') repeat-x 0 0;
    -webkit-animation: 45s linear 0s normal none infinite animate;
    -moz-animation: 45s linear 0s normal none infinite animate;
    -ms-animation: 45s linear 0s normal none infinite animate;
    -o-animation: 45s linear 0s normal none infinite animate;
    animation: 45s linear 0s normal none infinite animate;
    background-size: 100%;
    opacity: 0.4;
}

.hero {
    position: relative;
    padding-top: 25px;
    height: 100vh;
    color: #FFF;
}

.heading {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    color
}

.hero-text {
    font-size: 1.2em;
}


.arrow-pos {
    position: absolute;
    bottom: 0;
    margin-left: 35%;
    fill: #ffbd45;
    cursor: pointer;
}

.arrow-pos:hover {
    fill: #004c8c;
}


/* Feature & CTA Sections: ;
/* ---------------------------------------------- */

#feature-2 {
    background: linear-gradient(-45deg, #fb8c00, #ffbd45);
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}



#cta-section {
    background: #58a5f0;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

/* Background Animation
/* ---------------------------------------------- */
 
@-webkit-keyframes animate {
    from {background-position:3072px 0;}
    to {background-position: 0px 0;}
}
 
@-moz-keyframes animate {
    from {background-position:3072px 0;}
    to {background-position: 0px 0;}
}
 
@-ms-keyframes animate {
    from {background-position:3072px 0;}
    to {background-position: 0px 0;}
}
 
@-o-keyframes animate {
    from {background-position:3072px 0;}
    to {background-position: 0px 0;}
}
 
@keyframes animate {
    from {background-position:3072px 0;}
    to {background-position: 0px 0;}
}