/*
Colors
Primary - #0277bd
Light -#58a5f0
Dark - #004c8c

Secondary #fb8c00
Light #ffbd45
Dark #c25e00
*/

/*
 * BootStrap Dashboard - Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
}

/*
 * Typography
 */

/*           Font Smoothing      */
body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Rubik","Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 300;
    margin: 30px 0 15px;
}

h1, .h1 {
    font-size: 52px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 28px;
    margin: 20px 0 10px;
}

h4, .h4 {
    font-size: 22px;
    line-height: 30px;
}

h5, .h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

h6, .h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #9A9A9A;
    font-weight: 300;
    line-height: 1.5;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
    font-size: 60%;
}

h1 .subtitle {
    display: block;
    margin: 0 0 30px;
}

.text-muted {
    color: #9A9A9A;
}

.text-primary, .text-primary:hover {
    color: #1D62F0 !important;
}

.text-info, .text-info:hover {
    color: #1DC7EA !important;
}

.text-success, .text-success:hover {
    color: #87CB16 !important;
}

.text-warning, .text-warning:hover {
    color: #FF9500 !important;
}

.text-danger, .text-danger:hover {
    color: #FF4A55 !important;
}

/*     General overwrite     */
body,
.wrapper {
    min-height: 100vh;
    position: relative;
}

body {
    background: rgba(203, 203, 210, 0.15);
}

a:hover, a:focus {
    color: #42d0ed;
    text-decoration: none;
}


button a {
    color: #eee;
    font-weight: 400;
}



a:focus, a:active,
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: 0;
}



/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
 * Start Custom Styles
 */

.navbar {
  background: #0277bd;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-brand {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}


.icon-size
{
    font-size: 87px;
}

.active {
    opacity: 0.75;
    border-bottom: 1px dashed #58a5f0;
}

/********************************* 
  Footer
**********************************/
.footer {
  background: #004c8c;
  padding: 20px;
    color: #fff;
}

/********************************* 
   Portfolio
**********************************/


.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .image img {
    width: 100%;
}

.card .filter {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
}

.card .filter .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card:hover .filter {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card .btn-hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.card:hover .btn-hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .header {
    padding: 15px 15px 0;
}

.card .category,
.card label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card .category i,
.card label i {
    font-size: 16px;
}

.card label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card .title {
    margin: 0;
    color: #333333;
    font-weight: 300;
}

.card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .description {
    font-size: 14px;
    color: #333;
}

.card .footer {
    padding: 0;
    background-color: transparent;
    line-height: 30px;
}

.card .footer .legend {
    padding: 5px 0;
}

.card .footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .stats {
    color: #a9a9a9;
}

.card .footer div {
    display: inline-block;
}

.card .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card .author i {
    font-size: 14px;
}

.card h6 {
    font-size: 12px;
    margin: 0;
}

.card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute;
}

.card .ct-chart {
    margin: 30px 0 30px;
    height: 245px;
}

.card .table tbody td:first-child,
.card .table thead th:first-child {
    padding-left: 15px;
}

.card .table tbody td:last-child,
.card .table thead th:last-child {
    padding-right: 15px;
}

.card .alert {
    border-radius: 4px;
    position: relative;
}

.card .alert.alert-with-icon {
    padding-left: 65px;
}

.card-user .image {
    height: 110px;
}

.card-user .image-plain {
    height: 0;
    margin-top: 110px;
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -70px;
}

.card-user .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;
}

.card-user .avatar.border-gray {
    border-color: #EEEEEE;
}

.card-user .title {
    line-height: 24px;
}

.card-user .content {
    min-height: 240px;
}

.card-user .footer,
.card-price .footer {
    padding: 5px 15px 10px;
}

.card-user hr,
.card-price hr {
    margin: 5px 15px;
}

.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}

.card-plain .image {
    border-radius: 4px;
}

/********************************* 
Portfolio
**********************************/

.net-worth {
  width: 100%;
}

.big-number {
  font-size: 2em;
}



.small-number::before {
  display: inline;  
  padding-bottom: 5px;
}

.small-number::before {
    content:"$";
    padding-left: 5px;
}

.coin-icon {
    height: 35px;
    width: 35px;
    margin-right: 15px;
}

.changePositive {
    color: green;
}

.changeNegative {
    color: red;
}


/********************************* 
Progress Bar/Steps
**********************************/

.progress-container {
  background-color: #eee;
  padding: 10px 20px;
  margin: 0 auto;
}
.progress-check {
  width:25px;
  height:25px;
}

.progress-text {
  font-size: 0.8em;
}

.progress-text.done {

}

.progress-text.doing  {
  font-size: 1em;
  font-weight: bold;
}

.progress-text.todo, .progress-text.done {
  
}


/********************************* 
Modals - Buy/Sell
**********************************/


body.modal-open {
  padding-right: 0 !important;
  overflow: auto; }

body.scrollable {
  overflow-y: auto; }

.modal-dialog .modal-content {
  border-radius: 2px;
  border: 0; }

.modal {
  padding-right: 0 !important; }
  @media (min-width: 768px) {
    .modal .modal-dialog.modal-top {
      top: 0; }
    .modal .modal-dialog.modal-left {
      left: 0; }
    .modal .modal-dialog.modal-right {
      right: 0; }
    .modal .modal-dialog.modal-bottom {
      bottom: 0; }
    .modal .modal-dialog.modal-top-left {
      top: 10px;
      left: 10px; }
    .modal .modal-dialog.modal-top-right {
      top: 10px;
      right: 10px; }
    .modal .modal-dialog.modal-bottom-left {
      left: 10px;
      bottom: 10px; }
    .modal .modal-dialog.modal-bottom-right {
      right: 10px;
      bottom: 10px; } }
  .modal.fade.top:not(.show) .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0); }
  .modal.fade.left:not(.show) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0); }
  .modal.fade.right:not(.show) .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0); }
  .modal.fade.bottom:not(.show) .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0); }
  @media (min-width: 992px) {
    .modal.modal-scrolling {
      position: relative; }
      .modal.modal-scrolling .modal-dialog {
        position: fixed;
        z-index: 1050; }
    .modal.modal-content-clickable {
      top: auto;
      bottom: auto; }
      .modal.modal-content-clickable .modal-dialog {
        position: fixed; }
    .modal .modal-fluid {
      width: 100%;
      max-width: 100%; }
      .modal .modal-fluid .modal-content {
        width: 100%; }
    .modal .modal-frame {
      position: absolute;
      width: 100%;
      max-width: 100%;
      margin: 0; }
      .modal .modal-frame.modal-bottom {
        bottom: 0; }
    .modal .modal-full-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      width: 400px;
      height: 100%;
      margin: 0;
      top: 0;
      right: 0; }
      .modal .modal-full-height.modal-top, .modal .modal-full-height.modal-bottom {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto; }
      .modal .modal-full-height.modal-top {
        bottom: auto; }
      .modal .modal-full-height.modal-bottom {
        top: auto; }
      .modal .modal-full-height .modal-content {
        width: 100%; }
      .modal .modal-full-height.modal-lg {
        max-width: 90%;
        width: 90%; } }
    @media (min-width: 992px) and (min-width: 992px) {
      .modal .modal-full-height.modal-lg {
        max-width: 800px;
        width: 800px; } }
    @media (min-width: 992px) and (min-width: 1200px) {
      .modal .modal-full-height.modal-lg {
        max-width: 1000px;
        width: 1000px; } }
  @media (min-width: 992px) {
    .modal .modal-side {
      position: absolute;
      right: 10px;
      bottom: 10px;
      margin: 0;
      width: 400px; } }

.modal-dialog .btn .fa {
  color: #fff !important; }

.modal-dialog [class*="btn-outline-"] .fa {
  color: inherit !important; }

.modal-dialog.cascading-modal {
  margin-top: 10%; }
  .modal-dialog.cascading-modal .close {
    color: #fff;
    opacity: 1;
    text-shadow: none; }
  .modal-dialog.cascading-modal .modal-header {
    text-align: center;
    margin: -2rem 1rem 1rem 1rem;
    padding: 1.5rem;
    border: none;
    border-radius: 3px; }
    .modal-dialog.cascading-modal .modal-header .close {
      margin-right: 1rem; }
    .modal-dialog.cascading-modal .modal-header .title {
      width: 100%;
      margin-bottom: 0;
      font-size: 1.25rem; }
      .modal-dialog.cascading-modal .modal-header .title .fa {
        margin-right: 9px; }
    .modal-dialog.cascading-modal .modal-header .social-buttons {
      margin-top: 1.5rem; }
      .modal-dialog.cascading-modal .modal-header .social-buttons a {
        font-size: 1rem; }
  .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs {
    margin: -1.5rem 1rem 0 1rem; }
  .modal-dialog.cascading-modal .modal-c-tabs .tab-content {
    padding: 1.7rem 0 0 0; }
  .modal-dialog.cascading-modal .nav-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .modal-dialog.cascading-modal .nav-tabs li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .modal-dialog.cascading-modal .nav-tabs li a {
        text-align: center;
        font-weight: normal; }
  .modal-dialog.cascading-modal .modal-body,
  .modal-dialog.cascading-modal .modal-footer {
    color: #616161;
    padding-right: 2rem;
    padding-left: 2rem; }
    .modal-dialog.cascading-modal .modal-body .additional-option,
    .modal-dialog.cascading-modal .modal-footer .additional-option {
      text-align: center;
      margin-top: 1rem; }
  .modal-dialog.cascading-modal.modal-avatar {
    margin-top: 6rem; }
    .modal-dialog.cascading-modal.modal-avatar .modal-header {
      margin: -6rem 2rem -1rem 2rem; }
      .modal-dialog.cascading-modal.modal-avatar .modal-header img {
        width: 130px;
        margin-left: auto;
        margin-right: auto; }

.modal-dialog.modal-notify .heading {
  margin: 0;
  padding: 0.3rem;
  color: #fff;
  font-size: 1.15rem; }

.modal-dialog.modal-notify .modal-header {
  border: 0; }

.modal-dialog.modal-notify .close {
  opacity: 1; }

.modal-dialog.modal-notify .modal-body {
  padding: 1.5rem;
  color: #616161; }

.modal-dialog.modal-notify .btn-outline-secondary-modal {
  background-color: transparent; }

.modal-dialog.modal-notify.modal-info .modal-header {
  background-color: #5394ff; }

.modal-dialog.modal-notify.modal-info .fa {
  color: #5394ff; }

.modal-dialog.modal-notify.modal-info .badge {
  background-color: #5394ff; }

.modal-dialog.modal-notify.modal-info .btn-primary-modal {
  background-color: #5394ff; }
  .modal-dialog.modal-notify.modal-info .btn-primary-modal:hover {
    background-color: #6da4ff !important; }
  .modal-dialog.modal-notify.modal-info .btn-primary-modal:focus, .modal-dialog.modal-notify.modal-info .btn-primary-modal:active, .modal-dialog.modal-notify.modal-info .btn-primary-modal.active {
    background-color: #0764ff !important; }
  .modal-dialog.modal-notify.modal-info .btn-primary-modal.dropdown-toggle {
    background-color: #5394ff !important; }
    .modal-dialog.modal-notify.modal-info .btn-primary-modal.dropdown-toggle:hover, .modal-dialog.modal-notify.modal-info .btn-primary-modal.dropdown-toggle:focus {
      background-color: #6da4ff !important; }

.modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal {
  border: 2px solid #5394ff;
  color: #5394ff !important;
  background-color: transparent; }
  .modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal:hover, .modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal:focus, .modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal:active, .modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal:active:focus, .modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal.active {
    background-color: transparent;
    color: #5394ff;
    border-color: #5394ff; }

.modal-dialog.modal-notify.modal-warning .modal-header {
  background-color: #ff8e38; }

.modal-dialog.modal-notify.modal-warning .fa {
  color: #ff8e38; }

.modal-dialog.modal-notify.modal-warning .badge {
  background-color: #ff8e38; }

.modal-dialog.modal-notify.modal-warning .btn-primary-modal {
  background-color: #ff8e38; }
  .modal-dialog.modal-notify.modal-warning .btn-primary-modal:hover {
    background-color: #ff9c52 !important; }
  .modal-dialog.modal-notify.modal-warning .btn-primary-modal:focus, .modal-dialog.modal-notify.modal-warning .btn-primary-modal:active, .modal-dialog.modal-notify.modal-warning .btn-primary-modal.active {
    background-color: #eb6500 !important; }
  .modal-dialog.modal-notify.modal-warning .btn-primary-modal.dropdown-toggle {
    background-color: #ff8e38 !important; }
    .modal-dialog.modal-notify.modal-warning .btn-primary-modal.dropdown-toggle:hover, .modal-dialog.modal-notify.modal-warning .btn-primary-modal.dropdown-toggle:focus {
      background-color: #ff9c52 !important; }

.modal-dialog.modal-notify.modal-warning .btn-outline-secondary-modal {
  border: 2px solid #ff8e38;
  color: #ff8e38 !important;
  background-color: transparent; }
  .modal-dialog.modal-notify.modal-warning .btn-outline-secondary-modal:hover, .modal-dialog.modal-notify.modal-warning .btn-outline-secondary-modal:focus, .modal-dialog.modal-notify.modal-warning .btn-outline-secondary-modal:active, .modal-dialog.modal-notify.modal-warning .btn-outline-secondary-modal:active:focus, .modal-dialog.modal-notify.modal-warning .btn-outline-secondary-modal.active {
    background-color: transparent;
    color: #ff8e38;
    border-color: #ff8e38; }

.modal-dialog.modal-notify.modal-success .modal-header {
  background-color: #01d36b; }

.modal-dialog.modal-notify.modal-success .fa {
  color: #01d36b; }

.modal-dialog.modal-notify.modal-success .badge {
  background-color: #01d36b; }

.modal-dialog.modal-notify.modal-success .btn-primary-modal {
  background-color: #01d36b; }
  .modal-dialog.modal-notify.modal-success .btn-primary-modal:hover {
    background-color: #01ec78 !important; }
  .modal-dialog.modal-notify.modal-success .btn-primary-modal:focus, .modal-dialog.modal-notify.modal-success .btn-primary-modal:active, .modal-dialog.modal-notify.modal-success .btn-primary-modal.active {
    background-color: #018744 !important; }
  .modal-dialog.modal-notify.modal-success .btn-primary-modal.dropdown-toggle {
    background-color: #01d36b !important; }
    .modal-dialog.modal-notify.modal-success .btn-primary-modal.dropdown-toggle:hover, .modal-dialog.modal-notify.modal-success .btn-primary-modal.dropdown-toggle:focus {
      background-color: #01ec78 !important; }

.modal-dialog.modal-notify.modal-success .btn-outline-secondary-modal {
  border: 2px solid #01d36b;
  color: #01d36b !important;
  background-color: transparent; }
  .modal-dialog.modal-notify.modal-success .btn-outline-secondary-modal:hover, .modal-dialog.modal-notify.modal-success .btn-outline-secondary-modal:focus, .modal-dialog.modal-notify.modal-success .btn-outline-secondary-modal:active, .modal-dialog.modal-notify.modal-success .btn-outline-secondary-modal:active:focus, .modal-dialog.modal-notify.modal-success .btn-outline-secondary-modal.active {
    background-color: transparent;
    color: #01d36b;
    border-color: #01d36b; }

.modal-dialog.modal-notify.modal-danger .modal-header {
  background-color: #ff4b4b; }

.modal-dialog.modal-notify.modal-danger .fa {
  color: #ff4b4b; }

.modal-dialog.modal-notify.modal-danger .badge {
  background-color: #ff4b4b; }

.modal-dialog.modal-notify.modal-danger .btn-primary-modal {
  background-color: #ff4b4b; }
  .modal-dialog.modal-notify.modal-danger .btn-primary-modal:hover {
    background-color: #ff6565 !important; }
  .modal-dialog.modal-notify.modal-danger .btn-primary-modal:focus, .modal-dialog.modal-notify.modal-danger .btn-primary-modal:active, .modal-dialog.modal-notify.modal-danger .btn-primary-modal.active {
    background-color: #fe0000 !important; }
  .modal-dialog.modal-notify.modal-danger .btn-primary-modal.dropdown-toggle {
    background-color: #ff4b4b !important; }
    .modal-dialog.modal-notify.modal-danger .btn-primary-modal.dropdown-toggle:hover, .modal-dialog.modal-notify.modal-danger .btn-primary-modal.dropdown-toggle:focus {
      background-color: #ff6565 !important; }

.modal-dialog.modal-notify.modal-danger .btn-outline-secondary-modal {
  border: 2px solid #ff4b4b;
  color: #ff4b4b !important;
  background-color: transparent; }
  .modal-dialog.modal-notify.modal-danger .btn-outline-secondary-modal:hover, .modal-dialog.modal-notify.modal-danger .btn-outline-secondary-modal:focus, .modal-dialog.modal-notify.modal-danger .btn-outline-secondary-modal:active, .modal-dialog.modal-notify.modal-danger .btn-outline-secondary-modal:active:focus, .modal-dialog.modal-notify.modal-danger .btn-outline-secondary-modal.active {
    background-color: transparent;
    color: #ff4b4b;
    border-color: #ff4b4b; }

.top {
  color: #435168;
}

.top:hover {
  color: white;
}