{{!-- includes/footer.handlebars --}}

<footer class="footer">
      <div class="container text-center">
        <span class="text-muted">&copy; Group 4 - UC Berkeley Coding Bootcamp 2017</span>
      </div>
    </footer>