{{!-- includes/nav.handlebars --}}

<nav class="navbar navbar-toggleable-md fixed-top">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navBarBase" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="./">Crypto$im</a>
    <div class="collapse navbar-collapse" id="navBarBase">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {{#if active_portfolio}}active{{/if}}" href="portfolio/{{user}}">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if active_market}}active{{/if}}"  href="market">Market</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if active_learn}}active{{/if}}" href="learn">Learn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if active_preferences}}active{{/if}}" href="preferences">Preferences</a>
            </li>
        </ul>

         <ul class="navbar-nav">
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Welcome, User
        </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Preferences</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-icon-off"></i> Logout</a>
        </div>
            </li>
        </ul>
    </div>
</nav>