{{!-- pages/index.handlebars --}}
<div class="content-4180">
    <div class="container hero">
        <div class="row section">
            <div class="col-lg-12">
                <h1 class="display-3 heading">Crypto$im</h1>
                <h3 class="display-4">Learn to Trade Crypto Currency</h3>
            </div>
            <div class="row section">
                <div class="col-lg-12 hero-text">

                        <p class="hero-text">From Here the NEW user will sign-up and go to the <a href="start">start</a> page where they are given tips to start buying currencies</p>
                        <p class="hero-text">From Here an existing user log in and go to their <a href="portfolio">portfolio</a> page</p>

                        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Continue With Facebook</a></p>
                    <!-- remove later -->
                </div>
            </div>
        </div>
        <div class="arrow-pos" id="arrow">
            <svg>
                <path class="down-arrow bounce animated animated-delay" d="M5.907,21.004c-1.352-1.338-3.542-1.338-4.894,0c-1.35,1.336-1.352,3.506,0,4.844l39.54,39.15
        c1.352,1.338,3.542,1.338,4.894,0l39.54-39.15c1.351-1.338,1.352-3.506,0-4.844c-1.352-1.338-3.542-1.338-4.894-0.002L43,56.707
        L5.907,21.004z" />
            </svg>
        </div>
    </div>
    <!-- End Hero -->
</div>
<div class="row section-content " id="feature-1">
    <div class="col-lg-6 text-center">
        <h1>Test Before You Invest</h1>
        <p>text about feature 1. And some more text about the reason</p>
        <p>text about feature 1 and why you should try </p>
    </div>
    <div class="col-lg-6">
        <p> IMAGE/Large Icon TO Go HERE</p>
        <p> call to action</p>
    </div>
</div>
<div class="row section-content " id="feature-2">
    <div class="col-lg-6 text-center">
        <p>Learn About Crypto Currencies</p>
        <p> call to action</p>
    </div>
    <div class="col-lg-6">
        <h1>Learn About Crypto Currencies</h1>
        <p>text about feature 2. And some more text about the reason</p>
        <p>text about feature 2 and why you should try </p>
    </div>
</div>
<div class="row section-content" id="feature-3">
    <div class="col-lg-6 text-center">
        <h1> Compete with Friends</h3>
            <p>text about feature 3. And some more text about the reason</p>
            <p>text about feature 3 and why you should try </p>
        </div>
        <div class="col-lg-6">
            <p> IMAGE ABOUT FEATURE</p>
            <p> call to action</p>
        </div>
    </div>



    <div class="row section-content " id="cta-section">
        <div class="col-lg-12 text-center">
            <h1 class="font-italic">Get trading in 30 seconds</h1>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Continue With Facebook</a></p>
    </div>
</div>