{{!-- pages/index.handlebars --}}
<div class="content-4180">
    <div class="container hero">
        <div class="row section">
            <div class="col-lg-12">
                <h1 class="display-3 heading">Crypto$im</h1>
                <h3 class="display-4">Learn to Trade Crypto Currency</h3>
            </div>
            <div class="row section">
                <div class="col-lg-12">

                        <p class="hero-text"><a class="top" href="start">Sign-up</a> and get started</p>
                        <p class="hero-text">Already a member? View your <a class="top" href="portfolio">portfolio</a></p>

                        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Continue With Facebook</a></p>
                    <!-- remove later -->
                </div>
            </div>
        </div>
        <div class="arrow-pos" id="arrow">
            <svg>
                <path class="down-arrow bounce animated animated-delay" d="M5.907,21.004c-1.352-1.338-3.542-1.338-4.894,0c-1.35,1.336-1.352,3.506,0,4.844l39.54,39.15
        c1.352,1.338,3.542,1.338,4.894,0l39.54-39.15c1.351-1.338,1.352-3.506,0-4.844c-1.352-1.338-3.542-1.338-4.894-0.002L43,56.707
        L5.907,21.004z" />
            </svg>
        </div>
    </div>
    <!-- End Hero -->
</div>
<div class="row section-content " id="feature-1">
    <div class="col-lg-6 text-center">
        <h1>Test Before You Invest</h1>
        <p>Gain practice on trading cryptocurrencies with <strong>no risks</strong> involved</p>
        <p>Become knowledgeable in the world of cryptocurrencies</p>
    </div>
    <div class="col-lg-6">
        <!-- <p> IMAGE/Large Icon TO Go HERE</p> -->
        <img src="http://gromek.co/wp-content/uploads/2017/05/Are-you-in.jpg" alt="Cryptocurrencies" height="200" width="400"><br><br>
        <p class="hero-text">Get <a href="start">started</a> now!</p>
    </div>
</div>
<div class="row section-content " id="feature-2">
    <div class="col-lg-6 text-center">
        <!-- <p>Learn About Crypto Currencies</p> -->
        <img src="https://specials-images.forbesimg.com/imageserve/687488386/960x0.jpg" alt="Learn More" height="175" width="438"><br><br>
        <p class="hero-text"> Click <a href="learn">here</a> to learn more</p>
    </div>
    <div class="col-lg-6">
        <h1>Learn About Crypto Currencies</h1>
        <p>View real time trading values and trends</p>
        <p>Buy and sell cryptocurrencies with the click of a button</p>
    </div>
</div>
<div class="row section-content" id="feature-3">
    <div class="col-lg-6 text-center">
        <h1> Compete with Friends</h3>
            <p>Go head to head with your friends and find out who the best trader is</p>
            <p>You and your friends can participate in the world of cryptocurrencies</p>
        </div>
        <div class="col-lg-6">
            <!-- <p> IMAGE ABOUT FEATURE</p> -->
            <img src="../../assets/images/top_traders_table.png"><br><br>
            <p><a href="#">Invite</a> your friends to play!</p>
        </div>
    </div>



    <div class="row section-content " id="cta-section">
        <div class="col-lg-12 text-center">
            <h1 class="font-italic">Get trading in 30 seconds</h1>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Continue With Facebook</a></p>
    </div>
</div>