{{!-- pages/index.handlebars --}}

  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading">CryptoSim Index</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>From Here the NEW user will sign-up and go to the <a href="start">start</a> page where they are given tips to start buying currencies</p>
            <p>From Here an existing user log in and go to their <a href="portfolio">portfolio</a> page    
        </div>
    </div>
</div>


hello