{{!-- pages/learn.handlebars --}}
<main class="container">
    <h2>Learn</h2>
    <h2>What is Cryptocurrency</h2>

    <h4>Cryptocurrencies are digital or virtual currencies that use cryptography for security</h4>
    <h4>A cryptocurrency is difficult to counterfeit because of this security feature</h4><br>
    <p>Bitcoin is the first and most popular cryptocurrency, and was created in 2009. Since then, numerous cryptocurrencies have been created. These are frequently called altcoins. Bitcoin and its derivatives use decentralized control as opposed to centralized electronic money/central banking systems. The decentralized control is related to the use of bitcoin's blockchain transaction database in the role of a distributed ledger.</p><br>

    <h3>More Cryotocurrency Trading Resources</h3>
    <ul>
        <li><a href="https://medium.com/swlh/what-is-bitcoin-ffab5e2e6a1c">What is Bit Coin</a></li>
        <li><a href="https://www.coindesk.com/just-400-willy-woos-magic-math-insane-crypto-returns/">Advanced Investing Theories</li>
        <li><a href="https://www.investopedia.com/terms/c/cryptocurrency.asp">Investopedia</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Cryptocurrency">Wikipedia</a></li>
    </ul>
</main>