{{!-- pages/learn.handlebars --}}
<main class="container">
    <h2>Learn</h2>
    <h3>Cryoto Currency Trading Resources</h3>
    <ul>
        <li><a href="https://medium.com/swlh/what-is-bitcoin-ffab5e2e6a1c">What is Bit Coin</a></li>
        <li><a href="https://www.coindesk.com/just-400-willy-woos-magic-math-insane-crypto-returns/">Advanced Investing Theories</li>
    </ul>
</main>