{{!-- pages/portfolio.handlebars --}}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading">CryptoSim Portfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>From Here the user can go to <a href="market"/>market</a> page</p>   
        </div>
    </div>
</div>


