{{!-- pages/portfolio.handlebars --}}
<main class="container">
    <h2>Portfolio</h2>
    <section class="row text-center placeholders">
        <div class="col-9 col-sm-9 placeholder">
            <h4 class="text-left">Profit / Loss</h4>
            <canvas id="summaryChart" width="700" height="500"></canvas>
            <div class="text-muted">Something else</div>
        </div>
        <div class="col-3 col-sm-3">
            <div class="card">
                <div class="header">
                    <h4 class="title">Net Worth</h4>
                    <p class="big-number">65,345</p>
                </div>
                <div class="stats">
                    <i class="fa fa-chevron-up d-inline"></i>
                    <p class="small-number d-inline">15,345</p>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Top Traders</h4>
                    <div class="table-responsive text-left">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Lorem</td>
                                    <td>$99,000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>amet</td>
                                    <td>$92,000</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Integer</td>
                                    <td>$78,000</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">21</td>
                                    <td class="font-weight-bold">You</td>
                                     <td class="font-weight-bold">$50,000</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Market Place</h4>
                        <button type="button" class="btn-fill btn-wd btn btn-primary"><a href="market">Buy / Sell Coins</a></button>
                        <div class="stats">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Refer A Friend</h4>
                        <button type="button" class="btn-fill btn-wd btn btn-primary">Refer &amp; Earn</button>
                        <div class="stats">
                            <p>Earn $5,000</p>
                        </div>
                    </div>
                </div>
    </section>
    <h2>Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped" id="portfolio-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                    <td>Praesent</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>libero</td>
                    <td>Sed</td>
                    <td>cursus</td>
                    <td>ante</td>
                </tr>
                <tr>
                    <td>1,004</td>
                    <td>dapibus</td>
                    <td>diam</td>
                    <td>Sed</td>
                    <td>nisi</td>
                </tr>
                <tr>
                    <td>1,005</td>
                    <td>Nulla</td>
                    <td>quis</td>
                    <td>sem</td>
                    <td>at</td>
                </tr>
                <tr>
                    <td>1,006</td>
                    <td>nibh</td>
                    <td>elementum</td>
                    <td>imperdiet</td>
                    <td>Duis</td>
                </tr>
                <tr>
                    <td>1,007</td>
                    <td>sagittis</td>
                    <td>ipsum</td>
                    <td>Praesent</td>
                    <td>mauris</td>
                </tr>
                <tr>
                    <td>1,008</td>
                    <td>Fusce</td>
                    <td>nec</td>
                    <td>tellus</td>
                    <td>sed</td>
                </tr>
                <tr>
                    <td>1,009</td>
                    <td>augue</td>
                    <td>semper</td>
                    <td>porta</td>
                    <td>Mauris</td>
                </tr>
                <tr>
                    <td>1,010</td>
                    <td>massa</td>
                    <td>Vestibulum</td>
                    <td>lacinia</td>
                    <td>arcu</td>
                </tr>
                <tr>
                    <td>1,011</td>
                    <td>eget</td>
                    <td>nulla</td>
                    <td>Class</td>
                    <td>aptent</td>
                </tr>
                <tr>
                    <td>1,012</td>
                    <td>taciti</td>
                    <td>sociosqu</td>
                    <td>ad</td>
                    <td>litora</td>
                </tr>
                <tr>
                    <td>1,013</td>
                    <td>torquent</td>
                    <td>per</td>
                    <td>conubia</td>
                    <td>nostra</td>
                </tr>
                <tr>
                    <td>1,014</td>
                    <td>per</td>
                    <td>inceptos</td>
                    <td>himenaeos</td>
                    <td>Curabitur</td>
                </tr>
                <tr>
                    <td>1,015</td>
                    <td>sodales</td>
                    <td>ligula</td>
                    <td>in</td>
                    <td>libero</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>