{{!-- pages/preferences.handlebars --}}

<main class="container">
    <h1>Preferences</h1>
    <form action="/preferences" method="POST">
    	<input type="text" value="Name">
    	<input type="email" value="Email Address">
    	<input type="submit" value="Submit">
    </form>
</main>