{{!-- pages/refer.handlebars --}}

<div class="container">

        {{>includes/progressBar}}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading">Refer A Friend</h1>
        </div>
    </div>




    <div class="row">
        <div class="col-lg-12 text-center">
            <p>From Here the NEW user will go to their <a href="portfolio"/>portfolio</a> page</p>   
        </div>
    </div>
</div>


