{{!-- pages/start.handlebars --}}


<div class="container">
        {{>includes/progressBar}}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading">Buy your first crypto coins</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <p>From Here the NEW user will go to <a href="refer"/>refer</a></p>
        </div>
    </div>
</div>