{{!-- pages/index.handlebars --}}

{{#> layouts/base title="START CryptoSim - Test Before You Invest In Crypto Currency" }}

{{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="img/hero-1.png"
      hero-alt="Hero 1 alt title"
    }}
  {{/inline}}

{{/layouts/base}}


<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading">CryptoSim Start</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>From Here the NEW user will go to refer <a href="refer"/>refer</a></p>
        </div>
    </div>
</div>