{{!-- pages/start.handlebars --}}


<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading">CryptoSim Start</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>From Here the NEW user will go to refer <a href="refer"/>refer</a></p>
        </div>
    </div>
</div>